body{
    font-family: 'Montserrat', sans-serif;
    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px
}
h1{
    color: #E20000;
    font-size: 50px;
    font-weight: bold;
}
p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 16px;
}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;     
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
nav .nav-link{
    color: #282828;
    font-weight: bold;
}
nav .active{
    border:1px solid #E20000;    
}
.nav-item{
   
    text-align: center;
}
main{
    height: 80vh;
}
.btn{
    background-color: white;
    color: #370A6D;
    font-weight: 550;
    font-size: 17px;
    padding: 12px 55px;
    border-radius: 25px;
}
.btn:hover{
    color:white;
    background-color: #370A6D;    
}
.btn-pdf{
    background-color: #E20000;
    color: white;      
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;     
}
form .form-control{
    border-color: transparent;
    border-radius: 10px;
}
#contacto footer, #contacto footer .a{
    color: white;
    font-size: 14px;  
}
#contacto footer .mail{
    color: white;
}

#contacto footer .fa-github{
    font-size: 30px;    
    color: white;
}
footer .fa-whatsapp{
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;   
    position:fixed;
    right: 380px;
    bottom: 0;
}   
#contacto footer .fa-linkedin-in{
    font-size: 20px;    
    background-color: white;
    text-align: center;
    color:#ff4a49;
    border: 0px;
    height: 30px;
    width: 30px;    
    border-radius: 80px;
    padding: 8px 0 0 0;    
    margin: 0 8px;
}
footer .pcsuite{
    text-underline-position: below;
}

#proyectos,#sobre-mi{
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;     
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: 0;
}
#proyectos .btn-p1{
    background-color: #E20000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;

}
#proyectos .btn-p2{
    color: #E20000;
    font-size: 10px;
    font-weight: 800;      
    }

#proyectos h2{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding:0;
    margin:0;
}
#proyectos p{
    font-size: 13px;
}
#proyectos img{
    height: 177px;
}
#proyectos .card{
    border-radius: 20px;
    border-color: white;
    
}
#proyectos .color-gradiente{   
    color: white;
    padding:20px;
    background: rgba(107,35,35,1);
    background: -moz-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,35,35,1)), color-stop(69%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: linear-gradient(to right, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2323', endColorstr='#e73727', GradientType=1 );
}
#proyectos footer, #proyecto a{
    color:#E20000;
    font-size: 20px;  
}
#proyectos footer .fa-github{
    font-size: 30px; 
    color: #E20000;   
}
#proyectos footer .fa-linkedin-in{
 font-size: 20px;    
    background-color: #E20000;
    text-align: center;
    color:white;
    border: 0px;
    height: 30px;
    width: 30px;    
    border-radius: 80px;
    padding: 8px 0 0 0;    
    margin: 0 8px;     
}
#proyectos footer .mail{
    color: #E20000;
}

/*Sobre mi perros*/
#sobre-mi .color-gradiente{   
    color: white; 
    background: rgba(107,35,35,1);
    background: -moz-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,35,35,1)), color-stop(69%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: linear-gradient(to right, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2323', endColorstr='#e73727', GradientType=1 );
}
#sobre-mi .fa-github{
    font-size: 30px; 
    color: #E20000;   
}
#sobre-mi .fa-linkedin-in{
    font-size: 20px;    
    background-color: #E20000;
    text-align: center;
    color:white;
    border: 0px;
    height: 30px;
    width: 30px;    
    border-radius: 80px;
    padding: 8px 0 0 0;    
    margin: 0 8px;     
}
#sobre-mi .FP{
    height: 340px;
    width: auto;
}
#sobre-mi section .iconos{
    color: #282828;
    text-align: center;
    font-size: 18px;    
}
#sobre-mi section .card{
    border-radius: 20px; 
    margin-bottom: 30px;  
    border-color: white;        
}
#sobre-mi .fa-comment-alt, #sobre-mi .fa-star{
    color: white;
    background:#370A6D;
    font-size: 70px;
    border-radius: 15px;
    padding:1px;
    
}

#sobre-mi section .titulosnegrita{
    font-weight: bold;
    font-size: 20px;
}
#sobre-mi .idiomashobbies{
    background-color: #EDEDED;  
}
#sobre-mi section .fa-graduation-cap{
    font-size: 70px;
    color: #E20000;
}
#sobre-mi section .fa-briefcase{
    font-size: 70px;
    color: #370A6D;
}
#sobre-mi section .pih{
    font-size: 12px;
}
#sobre-mi section .exp{
    color:#370A6D ;
}
#sobre-mi section .logo{
    margin: 30px;
}
#sobre-mi section .titulosgrises{
    font-weight: bold;
    color: #6A6A6A;
    font-size: 20px;
}
#sobre-mi section .subtitulovioleta{
    font-weight: bold;
    color: #370A6D;
    font-size: 17px;
}
#sobre-mi section .fecha{
    font-weight: lighter;
    color: #6a6a6a;
    font-size: 15px;
}
#sobre-mi .btn-exp{
    background-color: #370A6D;
    color: white;      
    font-size: 10px;    
    padding: 5px 20px;      
      
}