body{
    font-family: 'Montserrat', sans-serif;
    margin:auto;
    min-width:600px;
    max-width:2000px;
}
   
h1{
    color: #E20000;
    font-size: 50px;
    font-weight: bold;
}

@media(max-width:576px){
    h1{
        font-size: 25px;
        font-weight: bold;     
        
    }
}
p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 16px;
}
@media(max-width:576px){
   p{
       font-size: 15px;       
       margin: 8px;
   }
}
@media(max-width:576px){
    #contacto .container{
        margin: 10px;
        align-items: center;        
    }
 }
 /*nav var*/

.navbar-toggler-icon{
    color: #E20000;
    border:1px solid #E20000;
    text-align: center;
    display: flex;
    align-self: center;
    font-size: 35px;
    border-radius: 11px;
    padding: 8px 10px;
    margin: 10px 0;
 
}
nav .nav-link{
    color: #282828;
    font-weight: bold;
}
nav .active{
    border:1px solid #E20000;    
}

@media(max-width:576px){
    nav .active{   
        border:0; 
    }
 }
.nav-item{   
    text-align: center;
}
@media(max-width:576px){
    .nav-item{   
        font-size: 30px;
        padding: 0px;
        text-align: left;      
    }
 }
footer .pcsuite{
    text-underline-position: below;
}
.btn{
    background-color: white;
    color: #370A6D;
    font-weight: 550;
    font-size: 17px;
    padding: 12px 55px;
    border-radius: 25px;
}
.btn:hover{
    color:white;
    background-color: #370A6D;    
}
.btn-pdf{
    background-color: #E20000;
    color: white;      
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;     
}
form .form-control{
    border-color: transparent;
    border-radius: 10px;
}
/*--------------------------------Contacto--------------------------------*/
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;     
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}
#contacto main,#proyectos main,#index main{
    height: 80vh;
}
@media(max-width:576px){
    #contacto .btn:hover{
    background-color: white;
    color: #370A6D;
    }
}
@media(max-width:576px){
    #contacto .btn{
        background-color: #370A6D;
        color: white;
        margin-top: 20px;
    }
}
@media(max-width:576px){
    #contacto main,#proyectos main{
        height: auto;
    }
}
@media(max-width:576px){
    #contacto main{
        height: 120vh;
    }
}
#contacto footer, #contacto footer .a,#index footer,#index footer .a{
    color: white;
    font-size: 14px;  
}
@media(max-width:576px){
    #contacto footer, #contacto footer .a,#index footer,#index footer .a,#proyectos footer .a{
        font-size: 20px;
    }
}
#contacto footer .mail,#index footer .mail{
    color: white;
}
@media(max-width:576px){
    #contacto footer .mail,#index footer .mail,#sobre-mi footer .mail,#proyectos footer .mail{
        margin:50px 8px;
        font-size: 20px;
    }
}
#contacto footer .fa-github,#index footer .fa-github{
    font-size: 30px;    
    color: white;
}
@media(max-width:576px){
    #contacto footer .fa-github,#index footer .fa-github,#sobre-mi footer .fa-github,#proyectos footer .fa-github {
        font-size: 40px;
        margin: 10px 8px;
    }
}
 
#contacto footer .fa-linkedin-in,#index footer .fa-linkedin-in{
    font-size: 20px;    
    background-color: white;
    text-align: center;
    color:#E20000;
    border: 0px;
    height: 30px;
    width: 30px;    
    border-radius: 80px;
    padding: 8px 0 0 0;    
    margin: 0 8px;
}
@media(max-width:576px){
    #contacto footer .fa-linkedin-in, #sobre-mi footer .fa-linkedin-in{          
        font-size: 30px;      
        height: 40px;
        width: 40px; 
    }
}
@media(max-width:576px){
    #index footer .fa-linkedin-in{          
        font-size: 30px;    
        background-color: white;       
        color:#E20000;
        border: 0px;
        height: 40px;
        width: 40px;    
        border-radius: 80px;
        margin: auto;
       
    }
}
footer .fa-whatsapp{
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;   
    position:fixed;
    right: 380px;
    bottom: 0;
} 
@media(max-width:576px){
    footer .fa-whatsapp{
        color: white;
        background-color: #370A6D;
        font-size: 30px;
        padding: 10px 19px;
        border-radius: 10px 10px 0 0;
        height: 65px;
        width: 65px;   
        position:fixed;
        right: 50px;
        bottom: 0;
    }
}
/*--------------------------------Proyectos--------------------------------*/
#proyectos,#sobre-mi{
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;     
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: 0;
}
@media(max-width:576px){
    #proyectos,#sobre-mi{
        background-image: url(../images/Proyecto375.jpg);
        background-size: 175%;             
        background-position-y: 0px;      
    }
}
#proyectos .btn-p1{
    background-color: #E20000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;

}
@media(max-width:576px){
    #proyectos .btn-p1{
        font-size: 15px;    
    }
}
#proyectos .btn-p2{
    color: #E20000;
    font-size: 10px;
    font-weight: 800;      
}
@media(max-width:576px){
    #proyectos .btn-p2{
        font-size: 15px;  
        text-align: right;  
    }
}

#proyectos h2{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding:0;
    margin:0;
}
@media(max-width:576px){
    #sobre-mi h2{      
        text-align: center;
        font-size: 40px;       
        padding-top: 15px; 
    }
}
@media(max-width:576px){
    #proyectos h2{
        font-size: 30px;       
        
    }
}
@media(max-width:576px){
    #proyectos .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
#proyectos p{
    font-size: 13px;
}
@media(max-width:576px){
    #proyectos p{
        font-size: 20px;        
    }
}
#proyectos img{
    height: 177px;
}
@media(max-width:576px){
    #proyectos img{
        height: 300px;
    }
}
#proyectos .card{
    border-radius: 20px;
    border-color: white;
    
}
#proyectos .color-gradiente{  
    color: white;
    padding:20px;
    background: rgba(107,35,35,1);
    background: -moz-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,35,35,1)), color-stop(69%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: linear-gradient(to right, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2323', endColorstr='#e73727', GradientType=1 );
}
#proyectos footer,#sobre-mi footer{
    color:#E20000;
    font-size: 12px;     
    height: 50px;   
}
@media(max-width:576px){
    #proyectos footer{
        font-size: 20px; 
    }
}
#proyectos footer .fa-github, #sobre-mi .fa-github{
    font-size: 30px; 
    color: #E20000;   
}
#proyectos footer .fa-linkedin-in,#sobre-mi .fa-linkedin-in{
 font-size: 20px;    
    background-color: #E20000;
    text-align: center;
    color:white;
    border: 0px;
    height: 30px;
    width: 30px;    
    border-radius: 80px;
    padding: 8px 0 0 0;    
    margin: 0 8px;     
}

#proyectos footer .mail,#sobre-mi footer .mail{
    color: #E20000;
}
@media(max-width:576px){
    #proyectos footer .mail{
        font-size: 20px;
        text-align: center;
    }
}
/*Sobre mi perros*/
#sobre-mi footer{
    background-color: #EDEDED;  
       
}
#sobre-mi .color-gradiente{   
    color: white; 
    background: rgba(107,35,35,1);
    background: -moz-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(107,35,35,1)), color-stop(69%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
    background: -webkit-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -o-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: -ms-linear-gradient(left, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    background: linear-gradient(to right, rgba(107,35,35,1) 0%, rgba(231,55,39,1) 69%, rgba(231,55,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2323', endColorstr='#e73727', GradientType=1 );
}
#sobre-mi .FP{
    height: 340px;
    width: auto;
}
@media(max-width:576px){
    #sobre-mi .FP{        
        margin: 40px 60px;
        max-width: fit-content;       
    }
}
#sobre-mi section .iconos{
    color: #282828;
    text-align: center;
    font-size: 18px;    
}
@media(max-width:576px){
    #sobre-mi section .iconos{
        font-size: 25px;    
    }
}
#sobre-mi section .card{
    border-radius: 20px; 
    margin-bottom: 30px;  
    border-color: white;        
}
@media(max-width:576px){
    #sobre-mi section .card{
        border-radius: 20px;         
        border-color: white;         
    }
}
#sobre-mi .fa-comment-alt, #sobre-mi .fa-star{
    color: white;
    background:#370A6D;
    font-size: 70px;
    border-radius: 15px;
    padding:1px;    
}
@media(max-width:576px){
    #sobre-mi .fa-comment-alt, #sobre-mi .fa-star{
        font-size: 80px;
        max-width: 180px;        
        text-align: center;
    }   
}
#sobre-mi section .titulosnegrita{
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:576px){
    #sobre-mi section .titulosnegrita{
        font-size: 25px;
        padding-left: 5px;
    }
}
#sobre-mi .idiomashobbies{
    background-color: #EDEDED;  
}
#sobre-mi section .fa-graduation-cap{
    font-size: 70px;
    color: #E20000;
}
#sobre-mi section .fa-briefcase{
    font-size: 70px;
    color: #370A6D;
}
#sobre-mi section .pih{
    font-size: 12px;
}
@media(max-width:576px){
    #sobre-mi section .pih{
        font-size: 18px;
    }   
}
#sobre-mi section .exp{
    color:#370A6D ;
}
#sobre-mi section .est{
    color:#E20000 ;
}
#sobre-mi section .logo{
    margin: 30px;
}
@media(max-width:576px){
    #sobre-mi section .logo{
        margin: 20px 250px;
        display: flex;        
        align-content: center;
    }   
}
#sobre-mi section .titulosgrises{
    font-weight: bold;
    color: #6A6A6A;
    font-size: 20px;
}
@media(max-width:576px){
    #sobre-mi section .titulosgrises{
    padding: 0 50px;
    }  
}
@media(max-width:576px){
    #sobre-mi #experiencia .lista{
    padding: 0 50px;
    }  
}
#sobre-mi section .subtitulovioleta{
    font-weight: bold;
    color: #370A6D;
    font-size: 17px;
}
@media(max-width:576px){
    #sobre-mi section .subtitulovioleta{
    padding: 0 50px;
    }
}
#sobre-mi section .subtituloRojo{
    font-weight: bold;
    color: #E20000;
    font-size: 17px;
}
@media(max-width:576px){
    #sobre-mi section .subtituloRojo{
    padding: 0 50px;
    }
}
#sobre-mi section .fecha{
    font-weight: normal;
    color: #6a6a6a;
    font-size: 15px;
}
@media(max-width:576px){
    #sobre-mi section .fecha{
    padding: 0 50px;
    }
}
#sobre-mi .btn-exp{
    background-color: #370A6D;
    color: white;      
    font-size: 10px;    
    padding: 5px 20px;     
}
@media(max-width:576px){
    #sobre-mi .btn-exp{  
        font-size: 15px;  
        padding: 10px 25px;     
    }
}
#sobre-mi .festudios{
    background-color:  #EDEDED; 
}
@media(max-width:576px){
    #sobre-mi footer .container{
        background-color:  #EDEDED; 
    }
}

/*index*/
@media(max-width:576px){
    #index main{
        height: 125vh;
    }       
}
#index{
    background-image:url(../images/index.png);
    background-size: 100%;     
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: right;
}
@media(max-width:576px){
    #index{       
        background-image:url(../images/index375.png);
        background-size: 180%;     
        background-position-x: -60px;         
    }
}
#index .arnold{    
    color:white;
    font-size: 20px;
    font-weight: 400;      
    border:1px solid white;
    width: fit-content;
    padding: 10px 15px;   
}
@media(max-width:576px){
    #index .arnold{    
        color:white;
        font-size: 35px;
        font-weight: 400;      
        border:1px solid white;
        width: fit-content;           
        text-align: center;
        margin: 25px 0;
    }
}
#index .card{     
    background-color:transparent;
    border-color: transparent;
}

#index .trabajo{
    background-color:white;
    color: #370A6D;
    font-weight: 550;
    font-size: 15px;
    padding: 8px 30px; 
    border-color: transparent;
}
@media(max-width:576px){
    #index .trabajo{
        background-color:white;
        color: #370A6D;
        font-weight: 550;
        font-size: 25px;
        padding: 8px 30px;
        margin: 20px 20;      
        border-color: transparent;
    }
}
#index .trabajo:hover{
    color:white;
    background-color:#370A6D;
    border-color: transparent; 
}
#index #medio .container{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-items: center;    
    justify-content: flex-end;
}
@media(max-width:576px){
    #index #medio .container{
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-items: center;    
        justify-content: flex-end;
    }
}
